{% extends '::base.html.twig' %}

{% block body -%}
        <div data-role="page"  >
            <div class="ui-grid-a" date-role="main">
    <h1>Friend list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Surname</th>
                <th>Address</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('friend_show', { 'id': entity.id }) }}" data-ajax="false" class="ui-btn" >{{ entity.id }}</a></td>
                <td>{{ entity.firstName }}</td>
                <td>{{ entity.surname }}</td>
                <td>{{ entity.address }}</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="5">
      
                        <a href="{{ path('friend_show', { 'id': entity.id }) }}" data-ajax="false" class="ui-btn" >show</a>
                    
                        <a href="{{ path('friend_edit', { 'id': entity.id }) }}" data-ajax="false" class="ui-btn" >edit</a>
       
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
            <a href="{{ path('friend_new') }}" data-ajax="false" class="ui-btn" >
                Create a new entry
            </a>
        
            </div>
        </div>
    {% endblock %}
