{% extends '::base.html.twig' %}

{% block body -%}
        <div data-role="page"  >
            <div class="ui-grid-a" date-role="main">
    <h1>Live list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Startdate</th>
                <th>Enddate</th>
                <th>Draft</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('live_show', { 'id': entity.id }) }}" data-ajax="false" class="ui-btn" >{{ entity.id }}</a></td>
                <td>{% if entity.startDate %}{{ entity.startDate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.endDate %}{{ entity.endDate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.draft }}</td>
                <td>
                
            <a href="{{ path('live_show', { 'id': entity.id }) }}" data-ajax="false" class="ui-btn" >show</a>
                   
                        <a href="{{ path('live_edit', { 'id': entity.id }) }}" data-ajax="false" class="ui-btn" >edit</a>
                  
                </td>
            </tr>
            <tr>
                <td colspan="5">
                        
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        {# paging #}
        {% if pager.EndPage >= 1%} 
            <ul class='pagination'>
                {% if pager.Page > 1%} 
                    <li>    
                        <a href="{{ path('list_live', { 'page':  1 }) }}">First</a>
                    </li>
                    <li>
                        <a href="{{ path('list_live', { 'page': pager.Page - 1 }) }}">Previous</a>
                    </li>
                {% endif %}
                
                {% for i in pager.StartPage..pager.EndPage %}
                    <li class="">
                             <a href="{{ path('list_live', { 'page': i }) }}" data-ajax="false" class="ui-btn" >{{ i }}</a>
                    </li>
                {% endfor %}
                
                {% if pager.Page < pager.TotalPages%} 
                    <li>
                        <a href="{{ path('list_live', { 'page': pager.Page + 1 }) }}">Next</a>
                    </li>
                    <li>
                        <a href="{{ path('list_live', { 'page': pager.TotalPages }) }}">Last</a>
                    </li>
                {% endif %}    
            </ul>
        {% endif %}
        
            
            </div>
        </div>
    {% endblock %}
